@use 'var' as *;

@font-face {
    font-family: Exon;
    src: url(../../assets/Exon\ Regular.otf);
    font-weight: 400;
}

.header {
    background-color: $colorPrimary;
    position: sticky;
    left: 0;
    top: 0;
    z-index: 1;
    padding: 20px;
    overflow: hidden;



    &__logo {
        height: 90px;
    }

    .container {
    display: flex;
    align-items: center;
}
}



.nav-bar {
    margin-left: 250px;

    @media (max-width:767px){
        display: none;
    }

    &__list {
        display: inline-flex;

        &__item {
            padding: 18px;
            padding-bottom: 0;
            border-bottom: 2px solid transparent;

            &--is-active{
                border-bottom: 2px solid $colorText;
            }

        }


    }

    &__link {
        font-family: Exon, sans-serif;
        font-size: 25px;
        text-decoration: none;

        
    }
}

.menu-hamburguer {
    visibility: hidden;
    margin-right: 5px;
    width: 35px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 2px;
    width: 100%;
    background-color:$colorSecundary;
    display: block;
    margin-bottom: 4px;
}