@use 'var' as *;

.knowledge {
    height: 80vh;
    scroll-margin-top: 100px;
    padding: 6vw;

    .container{
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width:767px){
            display: block;
        }
    }

    &__title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 50px;
    }

    &__list {
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        @media (max-width:767px){
            display: grid;
        grid-template-columns: 1fr 1fr;
        }


        &__item {
            padding: 20px;

        }
    }

    &__img {

        height: 120px;
    }
}
