@use 'var' as *;

.projects {
    height: 100vh;
    scroll-margin-top: 100px;
    margin-bottom: 50px;
    padding: 6vw;

    @media (max-width:767px){
        height: auto;
        margin-top: 200px;
        margin-bottom: 100px;
    }

    &__title {
        font-size: 40px;
        text-align: center;
        margin-bottom: 30px;
    }

    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 10px;

        @media (max-width:767px){
            display: block;
            margin: 20px 0;
        }

        &__item {
            background-color: $colorSecundary;
            border: 1px solid $colorTertiary;
            padding: 10px;
            border-radius: 5px;

            @media (max-width:767px){
                margin: 20px 0;
            }
        }


    }

    &__img {
        height: 200px;
        width: 100%;
        border-radius: 5px;

    }

    &__text {
        padding-top: 20px;
        text-align: center;
    }


    .logo-links {
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 20px;
        padding-bottom: 20px;

        &__img {
            height: 50px;
            padding: 5px;
        }
    }
}